@media screen and (max-width: 430px) {
  .profil-container {
    flex-direction: column !important;
    background: #fa2727 !important;
  }
}rder-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: #6d28d9;
  border-radius: 3px;
}

body {
  scrollbar-color: #6d28d9, #030712;
}

.nav {
  background: rgba(3, 7, 18, 0.5) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  -webkit-backdrop-filter: blur(8.7px) !important;
          backdrop-filter: blur(8.7px) !important;
  border: 1px solid rgba(3, 7, 18, 0.6) !important;
}